.Loading.Weather{
    visibility: hidden;
}

html{
    font-family:'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    border-radius: 10%;
    background-image: url('https://source.unsplash.com/1920x1080/?city&landscape');
}

.box{
    text-align: center;
    border-radius: 10%;
    background-color: #000000d0;
    color: whitesmoke;
    padding: 2em;
}

.search-bar{
    background: #7c7c7c2b;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 100%;
    outline: none;
    border: none;
}
.search-icon{
    background: #7c7c7c2b;
    padding: 10px;
    margin-right: 20px;
    width: 40px;
    border-radius: 50%;
    border: none;

}
.search-icon:hover{
transform: scale(1.2);
}

.description{
    display: block;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.humidity{
    display: block;
    margin-bottom: 5px;
}
.feelslike{
    display: block;
    margin-bottom: 5px;
}
#result-block{
    padding-top: 50%;
    font-size: larger;
}
.icon{
    margin-top: -30px;
}